<a href="https://colab.research.google.com/github/Promoter-Harsh/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
country = ["India", "Sri Lanka", "Pakistan", "England", "Australia"]
pd.Series(country)

0        India
1    Sri Lanka
2     Pakistan
3      England
4    Australia
dtype: object

In [2]:
runs = [13,24,56,78,100]

run_ser = pd.Series(runs)

In [3]:
pd.Series(runs, index=country, name="ODI stats" )

India         13
Sri Lanka     24
Pakistan      56
England       78
Australia    100
Name: ODI stats, dtype: int64

In [4]:
marks = {
    "maths": 65,
    "hindi": 44,
}
marks_series = pd.Series(marks, name="Nitish Marks")
marks_series

maths    65
hindi    44
Name: Nitish Marks, dtype: int64

In [5]:
run_ser.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
vk = pd.read_csv("/content/kohli_ipl.csv")
vk

FileNotFoundError: [Errno 2] No such file or directory: '/content/kohli_ipl.csv'

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv", header = None)
vk

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv", skiprows = 2)
vk

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv", usecols = ["runs"])
vk

In [ ]:
vk.runs

In [ ]:
student = ["Harsh", "Rohan", "Ram"]
pd.Series(student)

marks = [15,34,55]
pd.Series(marks)

pd.Series(marks, index = student)

In [ ]:
ser = pd.Series([13,44,55,], index = ["Rsm","dd","der"])

In [ ]:
ser.dd

In [ ]:
vk

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv")
vk

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv", index_col = "match_no")
vk

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv", usecols = None)
vk

In [ ]:
vk.head(1)

In [ ]:
vk.info()

In [ ]:
s = pd.Series([13,44,55], index = [12, "Ajay", 43])
s

In [ ]:
d = pd.DataFrame(s)
d

In [ ]:
d["new_column"] = "Bijay"
d

In [ ]:
d

In [ ]:
d

In [ ]:
n = pd.Series(["Rohan", "Ram", "Ajay"])
s = pd.Series([88,99,66], index = n)

d = pd.DataFrame(s)

d["avg"] = [56,66,77]
d = d.reset_index()
d.columns = ["name", "runs", "avg"]
d

In [ ]:
d_subset = d[["name", "avg", "runs"]]
d_subset

In [7]:
d["avg"].dtype

NameError: name 'd' is not defined

In [ ]:
len(d)

In [8]:
d.header = None

NameError: name 'd' is not defined

In [ ]:
d

In [ ]:
v = pd.read_csv("/content/kohli_ipl.csv")
v.iloc[0:2]

In [9]:
v.loc[0:2, "runs"]

NameError: name 'v' is not defined

In [ ]:
v

In [ ]:
v["runs"][2:5]

In [10]:
list(v["runs"][2:5])

NameError: name 'v' is not defined

In [ ]:
s = pd.Series(list(v["runs"][2:5]), index = ["a", "b", "c"])
s

In [ ]:
s1 = pd.Series(list(v["runs"] [8:11]), index = ["a", "b", "c"])
s1

In [ ]:
s+s1

In [ ]:
v

In [ ]:
v.drop("match_no", axis = 1)

In [ ]:
v

In [ ]:
v.drop("runs", axis =1, )

In [ ]:
v.drop("runs", axis =1, inplace = True)

In [ ]:
v

In [ ]:
v.describe()

In [11]:
v.fillna("some_value")

NameError: name 'v' is not defined

In [ ]:
s = pd.Series(["harsh", "ram", "rohan"], index = ["a", "b", "c"])
s

In [ ]:
d = pd.DataFrame(s)
d = d.reset_index()
d.columns = ["Sno.", "names"]
d

In [ ]:
print(d.index)

In [ ]:
data1 = {
    "A": [1,2,None,4,5,None,7,8,9,10],
    "B": [None, 11,12,13,None,15,16,None,18,19]
}

df2 = pd.DataFrame(data1)
df2

In [ ]:
df2.A.fillna(df2["A"].mean())

In [ ]:
df2.groupby("A").mean(numeric_only = True).unstack()

In [ ]:
subs = pd.read_csv("/content/subs.csv")
subs

In [ ]:
vk = pd.read_csv("/content/kohli_ipl.csv")
vk

In [ ]:
movies = pd.read_csv("/content/bollywood.csv (for pandas session 16).csv", index_col = "movie")
movies

In [ ]:
vk

In [ ]:
vk[vk["runs"].between(51, 100)].size

In [ ]:
subs

In [ ]:
subs.clip(100,200)

In [ ]:
temp = pd.Series([1,1,2,2,3,3,4,4])
temp

In [ ]:
temp.drop_duplicates()

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ipl = pd.read_csv("/content/ipl-matches.csv")
ipl[~ipl["MatchNumber"].str.isdigit()]["Player_of_Match"].value_counts()

In [12]:
ipl["TossDecision"].value_counts().plot(kind = "pie")

NameError: name 'ipl' is not defined

In [ ]:
(ipl["Team1"].value_counts() + ipl["Team2"].value_counts()).sort_values(ascending = False)

In [ ]:
movies = pd.read_csv("/content/movies.csv")
movies.head()

In [ ]:
batsman = pd.read_csv("/content/batsman_runs_ipl.csv")
batsman

In [ ]:
batsman["batsman_rank"] = batsman["batsman_run"].rank(ascending = False)
(batsman.sort_values("batsman_rank").head(20)).plot(kind = "bar", x = "batter", y = "batsman_run")

In [ ]:
batsman.set_index("batsman_rank").sort_index()

In [ ]:
len(ipl["Season"].unique())

In [ ]:
ipl.drop_duplicates(subset = "Team1")

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv("/content/imdb-top-1000.csv")
movies.head(1)

In [ ]:
import numpy as np
import pandas as pd
genres = movies.groupby("Genre")
genres.min()

In [ ]:
genres.std()

In [ ]:
movies.groupby("Genre").sum()["Gross"]

In [ ]:
movies.groupby("Genre")["IMDB_Rating"].mean()

In [ ]:
(genres.describe())["mean"]

In [ ]:
movies.groupby("Director").sum()
genres

In [16]:
import numpy as np
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [17]:
df1 = df[["Name", "Sex", "Age"]][0:5]

In [18]:
df1

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0

In [21]:
df2 = df[["Name", "Sex", "Age"]][5:10]
df2

                                                Name     Sex   Age
5                                   Moran, Mr. James    male   NaN
6                            McCarthy, Mr. Timothy J    male  54.0
7                     Palsson, Master. Gosta Leonard    male   2.0
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

In [27]:
(pd.concat([df1, df2], axis = 1)).fillna(0)

,Name,Sex,Age,Name,Sex,Age
0,"Braund, Mr. Owen Harris",male,22.0,0,0,0.0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0,0,0.0
2,"Heikkinen, Miss. Laina",female,26.0,0,0,0.0
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0,0,0.0
4,"Allen, Mr. William Henry",male,35.0,0,0,0.0
5,0,0,0.0,"Moran, Mr. James",male,0.0
6,0,0,0.0,"McCarthy, Mr. Timothy J",male,54.0
7,0,0,0.0,"Palsson, Master. Gosta Leonard",male,2.0
8,0,0,0.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0
9,0,0,0.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0

In [31]:
df2.reset_index(drop = True, inplace = True)

In [32]:
df2

                                                Name     Sex   Age
0                                   Moran, Mr. James    male   NaN
1                            McCarthy, Mr. Timothy J    male  54.0
2                     Palsson, Master. Gosta Leonard    male   2.0
3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
4                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

In [36]:
pd.concat([df1, df2], axis = 1)

,Name,Sex,Age,Name,Sex,Age
0,"Braund, Mr. Owen Harris",male,22.0,"Moran, Mr. James",male,NaN
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,"McCarthy, Mr. Timothy J",male,54.0
2,"Heikkinen, Miss. Laina",female,26.0,"Palsson, Master. Gosta Leonard",male,2.0
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0
4,"Allen, Mr. William Henry",male,35.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0